<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
 <!-- 
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
 -->   
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
    </p>
  </div>
  
  <!-- Utterance Github powered discussion -->
  <script src="https://utteranc.es/client.js"
        repo="https://github.com/skranz/skranz.github.com"
        issue-term="title"
        label="utterance"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
